<section id="accounts" layout="row"  flex>

    <section class="md-whiteframe-z1 " flex>

        <md-toolbar md-theme="custom" class="md-theme-light">
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">Accounts</h1>
                <span  flex="" class="flex"></span>
                <button class="md-icon-button md-button md-custom-theme md-ink-ripple" type="button"
                        ng-show="true" ng-click="showOptions = !showOptions" aria-label="Show options"
                        aria-hidden="false"><i class="material-icons ng-scope">more_vert</i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </md-toolbar>

        <md-content>

            <table id="accounts-table" class="table table-hover">
                <thead>
                <tr >
                    <th class="account  " >Account</th>
                    <th class="description "  >Alias</th>
                    <th class="amount  text-right " >Current balance</th>
                    <th class="amount  text-right " >Available balance</th>
                    <th class="amount  text-right " >Last sync</th>
                    <th></th>
                </tr>
                </thead>

                <tbody >
                <tr class="transaction" data-account-id="{{t.accountId}}" dir-paginate="a in accounts | itemsPerPage: 10" pagination-id="transpag">
                    <td class="description " >{{a.name}}</td>
                    <td class="account "  >{{a.alias}}</td>
                    <td class="amount  text-right" >
                        {{a.currentBalance}}
                    </td>
                    <td>
                        {{a.availableBalance}}
                    </td>
                    <td>
                        {{a.lastSynced | date}}
                    </td>
                    <td>
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                            <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
                        </md-button>
                    </td>

                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="5">
                        <dir-pagination-controls pagination-id="transpag" boundary-links="true" template-url="views/pagination.tpl.html">
                        </dir-pagination-controls>
                    </th>
                </tr>
                </tfoot>
            </table>
        </md-content>
    </section>

    <md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right"
                style="min-width:340px;margin-left:8px"
                md-is-locked-open="showOptions || $mdMedia('gt-md')">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Account info</h1>
        </md-toolbar>

        <md-content layout="column" >



        </md-content>
    </md-sidenav>
</section>
