<section class="md-whiteframe-z1"   >

    <md-toolbar md-theme="custom" class="md-theme-light">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">VCurrent account balance</h1>
            <span  flex="" class="flex"></span>
            <button class="md-icon-button md-button md-custom-theme md-ink-ripple" type="button"
                    ng-show="true" ng-click="showOptions = !showOptions" aria-label="Show options"
                    aria-hidden="false"><i class="material-icons ng-scope">more_vert</i>
                <div class="md-ripple-container"></div>
            </button>
        </div>
    </md-toolbar>
    <md-content>

        <nvd3-line-chart
                data="data"
                showXAxis="false"
                showYAxis="true"
                yAxisLabel="Balance"
                height="350"
                x="xFunction()"
                y="yFunction()"
                xAxisTickFormat="dateFormat()"
                tooltips="true"
                isArea="true"
                forcey="[0,1300]"
                useInteractiveGuideLine="true"
                tooltips="true"
                interactive="true">
            <svg></svg>

        </nvd3-line-chart>
    </md-content>


</section>