<section layout-margin class="md-whiteframe-z1 panel-widget">

         <table id="transactions-table" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="date col-md-1  ">Date</th>
                            <th class="account col-md-2 " >Account</th>
                            <th class="description ">Description</th>
                            <th class="amount col-md-1 text-right ">Amount</th>
                            <th class="category  col-md-2 text-center">Category</th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr class="transaction" data-account-id="{{t.accountId}}"  data-ng-repeat="t in pagedItems[0] ">
                        <td class="date ">{{t.date | date : 'dd/MM/yy'}}</td>
                        <td class="account ">{{t.account.alias}}</td>
                        <td class="description ">{{t.descriptionProcessed}}</td>
                        <td class="amount  text-right">
                            <span data-ng-class="{negativeAm : t.flow == 'OUT' || t.flow == 'INNER_OUT'}"> <span data-ng-show="t.flow == 'OUT' || t.flow == 'INNER_OUT'">-</span>
                                {{t.amount | maney}}
                            </span>
                        </td>
                        <td class="category">
                        </td>
                    </tr>
                    </tbody>

            </table>

    <pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></pagination>

    </section>
