@import "variables.scss";
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-bg-main;
  color: $color-text-main;
  cursor: default;
}

a {
  color: $color-text-main;
}

a:visited, a:hover {
  color: $color-text-main;
}

.fill-h {
  height: 100%;
}

.fill-w {
  width: 100%;
}

.fill {
  @extend .fill-h;
  @extend .fill-w;
}

div.tablediv {
  padding: 5px;
}
div.evenrow {
  background-color: $even;

  .host .tags {

    background-color: white;
  }
}


tags-input.has-tags input {
  display: none;
}

.host .tags {
  padding: 0;
  box-shadow: none;
  border:1px solid #DFDFDF;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}


.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}


@import "transactions.scss";