@import "variables.scss";

#transactions {

  .row {
    padding :0px;
    margin: 0px;
  }

  #filter-body {
    .form-group {
     height: 2em;
    }
  }

  #transactions-list {

    .container-fluid {
      padding: 0;
      margin: 0;
    }

    .columns {
      border:0;
      height: auto;
      background: $color-header-bg-soft;
      color: white;
    }

  }

}


