$color-bg-main: darken(rgb(62,111,177),10);
$color-bg-alt: #d98328;
//$color-bg-main: #FEFEFE;

$color-text-main: #191919;

$even: #ECF0F1;

$body-bg:              $color-bg-main;

$navbar-default-bg: #C0392B;

$color-header-bg : $color-bg-alt;
$color-header-bg-soft : lighten($color-header-bg,5);


$border-radius-base : 0;